body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.camera-photo {
  max-width: 300px;
}

.card {
  max-width: 300px;
}

.camera-display-styling{
  padding-left: 50px;
}

.form-styling {
  padding: 10px 0px 0px 50px
}

.search-bar {
  margin-top: 20px;
  margin-bottom: 20px;
}

.shopping-cart {
  border: 1px solid lightgrey;
  padding: 10px;
  border-radius: 5px;
}

.shopping-cart-header {
  text-align: center;
}

.checkout-btn{
  display: flex;
  justify-content: center;
}

.cart-item {
  text-align: center;
}

.totals {
  text-align: center;
}

.stars {
  padding-bottom: 10px;
}

